{% extends "layout.html" %}

{% block title %} {{poll[1]}} {% endblock %}

{% block content %}
    <main>
        <div class="poll-display">
            <h1>{{poll[1]}} ({{poll[2]}})</h1>
            <p>{{votes}} vote{% if votes != 1 %}s{% endif %}</p>

            {% if closed %}
                <h2>Poll is closed.</h2>
            {% else %}
                <form action="/poll/{{poll[0]}}" method="POST">
                    
                    {% if voted == None %}
                    <select name="option" >
                        {% for option in options %}
                            <option value="{{option[0]}}">{{option[1]}}</option><br/>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Vote">
                    {% else %}
                        <h2>Already voted!</h2> 
                    {% endif %}
                </form>
            {% endif %}
        </div>
        {% if creator %}
                <div class="admin-controls">
                    <h2>Creator Controls</h2>
                    {% if not closed %}
                    <form action="/end/{{poll[0]}}" method="POST">
                        <select name="win" >
                            {% for option in options %}
                                <option value="{{option[0]}}">{{option[1]}}</option><br/>
                            {% endfor %}
                        </select>
                        <input type="submit" value="End">
                    </form>
                    {% endif %}
                    <form action="/delete/{{poll[0]}}" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            {% endif %}
    </main>
{% endblock %}